body {
    overflow: hidden;
    font-family: Arial;
    color: #444;
}

button {
    clear: left;
    float: left;

    color: white;
    background-color: #58CE70;
    border: none;
    padding: 6px 12px;
    font-weight: bold;
    margin-top: 4px;
}
button:disabled {
    background-color: silver;
}

.login_screen {
    background-image: url("logo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    transition: margin-top 1s ease-in-out;
}
.login_screen * {
    opacity: 0;
    transition: opacity 1s linear;
}
.login_screen.with_login {
    margin-top: -100px;
}
.login_screen.with_login * {
    opacity: 1;
    margin-top: 10px;
}
.login_screen .spacer {
    height: 150px;
}
.login_screen input {
    border: none;
    border-bottom: 1px solid silver;
    padding: 4px;
}
.login_button {
    width: 185px;
}

.animate_bg {
    transition: background-color 1000ms linear;
}
.animate_bg.invalid {
    transition: background-color 0ms linear;
    background-color: red;
}

.list_screen {
    border: 1px solid silver;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.header_bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    z-index: 10;
    height: 40px;
    background: linear-gradient(0deg, #33CCFF, #44DDFF);
    border-bottom: 1px solid silver;
    text-align: center;
}

.login_expand {
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.header_title {
    display: inline-block;
    padding: 12px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.tab_bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    background-color: white;
    padding-top: 50px;
}
.tab {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid silver;
    font-weight: bold;
}
.tab_selected {
    border-bottom: 4px solid #33CCFF;
}

.requests_list {
    padding-top: 80px; /* Must be same as tab_bar top + height */
    padding-bottom: 38px; /* Must be same as filter_bar height + bottom */
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.request {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    display: inline-block;
}
.request:nth-child(even) {background-color: #FFF;}
.request:nth-child(odd) {background-color: #EEE;}

.request_name {
    float: left;
}
.request_time {
    float: right;
}
.request_detail {
    clear: left;
    float: left;
}
.request_distance {
    clear: left;
    float: left;
}
.request_responder {
    color: #444;
    font-size: 75%;
    font-style: oblique;
    float: right;
    margin-top: 10px;
}

.filter_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: white;
    border-top: 1px solid silver;
    padding-top: 8px;
    padding-left: 8px;
}

.fa.filter_icon {
    float: left;
    font-size: 150%;
    color: gray;
    margin-top: -2px;
    margin-left: 4px;
    margin-right: 20px;
}

.filter {
    float: left;
    margin-right: 20px;
}

.menu {
    background-color: silver;
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    padding: 12px;
    border: 1px solid gray;
    transition: top 1s ease-in-out;
}
.menu.open {
    top: 40px;
}
